<!-- Services Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Миссия</h2>
                    <h3 class="section-subheading text-muted">Глубокое обучение -- это хорошо</h3>
                </div>
            </div>
            <div class="row text-center">
                <iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/key/LUyG9VQdGHdBV9" width="740" height="562" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen">&lt;br&gt; </iframe>
            </div>
        </div>
    </section>