<!-- Services Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Проекты</h2>
                    <h3 class="section-subheading text-muted">Глубокое обучение -- это хорошо</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Вопросно-ответные системы</h4>
                    <p class="text-muted">Мы занимаемся разработкой вопросно-ответной диалоговой системы. Почти подготовили свой датасет и скоро выложим.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Хакатоны</h4>
                    <p class="text-muted">Нам нравится устраивать хакатоны. В России сложилось отличное сообщество ML и DL энтузиастов.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Лаборатория МФТИ</h4>
                    <p class="text-muted">Мы открыли учебную лабораторию в МФТИ. Потихоньку обживаемся и ждем решения по нашим заявкам на гранты.</p>
                </div>
            </div>
        </div>
    </section>